@model AirConditionerSystem.Models.Users.EditUserInputModel
@{
	this.ViewData["Title"] = "Edit User";
}

<h1 class="mr-3">@this.ViewData["Title"]</h1>
<form method="post">
	<div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<textarea asp-for="Password" class="form-control"></textarea>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Role"></label>
		<select class="form-control" asp-for="Role">
			<option value="@GlobalConstants.AdministratorRoleName">@GlobalConstants.AdministratorRoleName</option>
			<option value="@GlobalConstants.TechRoleName">@GlobalConstants.TechRoleName</option>
			<option value="@GlobalConstants.CustomerRoleName">@GlobalConstants.CustomerRoleName</option>
		</select>
		<span asp-validation-for="Role" class="text-danger"></span>
	</div>

	<input type="hidden" asp-for="Id" />

	<div class="form-group">
		<input type="submit" class="btn btn-warning" value="Edit" />
	</div>
</form>
